*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header{
    color: #fff;
    text-align: center;
    margin: 20px 0px;
}

main{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    text-align: center;
}

.img{
    margin: 20px 0px;
}

.estado{
    font-weight: bold;
    color: rgb(31, 31, 31);
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.slider{
    width: 50vw;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider::after{
    content: '>';
    display: block;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 50px;
    margin-right: 35px;
    cursor: pointer;
}

.slider::before{
    content: '<';
    display: block;
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 50px;
    margin-right: 35px;
    cursor: pointer;
}

.slider img{
    width: 100%;
    position: absolute;
    opacity: 0;
}

.slider .selected{
    opacity: 1;
}